**Goal**  
Clean and explore the PLUTO tax lot data so it is ready to link to restaurants and to describe neighborhood property characteristics.

**Plan**
1. Load the PLUTO CSV from `data/raw`.
2. Keep only the columns we need 
3. Convert numeric fields (assessed value, year built) to the right types and handle missing.
4. Check basic distributions for borough, land use, building class, assessed value, and year built.
5. Filter or flag obvious outliers or unusable rows if needed.
6. Save a cleaned version 
7. Write a short summary

In [5]:
import pandas as pd

pluto_path = "../data/raw/Primary_Land_Use_Tax_Lot_Output_(PLUTO)_20251202.csv"
pluto = pd.read_csv(pluto_path)

/var/folders/_l/_85pbswx3gb9p0649jw7x4rm0000gn/T/ipykernel_60070/781073614.py:4: DtypeWarning: Columns (17,18,20,21,22,24,25,39,42,44,45,46,47,48,49,52,61,62,63,69,88) have mixed types. Specify dtype option on import or set low_memory=False.
  pluto = pd.read_csv(pluto_path)

In [6]:
pluto.head(20)

,borough,Tax block,Tax lot,community board,census tract 2010,cb2010,schooldist,council district,postcode,firecomp,...,bctcb2020,geom,basempdate,dcasdate,edesigdate,landmkdate,masdate,polidate,rpaddate,zoningdate
0,BX,2869,47,205.0,243.0,3000.0,10.0,14.0,10453.0,E075,...,2.024300e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MN,675,39,104.0,99.0,1017.0,2.0,3.0,10001.0,E034,...,1.009902e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MN,698,54,104.0,99.0,1030.0,2.0,3.0,10001.0,E003,...,1.009902e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MN,698,56,104.0,99.0,1030.0,2.0,3.0,10001.0,E003,...,1.009902e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MN,698,28,104.0,99.0,1030.0,2.0,3.0,10001.0,E003,...,1.009902e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MN,698,37,104.0,99.0,1030.0,2.0,3.0,10001.0,E003,...,1.009902e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MN,698,35,104.0,99.0,1030.0,2.0,3.0,10001.0,E003,...,1.009902e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,MN,698,47,104.0,99.0,1030.0,2.0,3.0,10001.0,E003,...,1.009902e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,MN,1306,42,106.0,100.0,2004.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,MN,1304,26,106.0,100.0,2006.0,2.0,4.0,10017.0,L002,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,MN,1309,8,105.0,100.0,1001.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,MN,1309,43,106.0,100.0,2001.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,MN,1309,44,106.0,100.0,2001.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MN,1307,1,105.0,100.0,1003.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MN,1309,23,106.0,100.0,2001.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,MN,1307,29,106.0,100.0,2003.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,MN,1310,34,106.0,100.0,2000.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,MN,1310,140,106.0,100.0,2000.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,MN,1309,32,106.0,100.0,2001.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,MN,1310,47,106.0,100.0,2000.0,2.0,4.0,10022.0,E008,...,1.010000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pluto.columns.tolist()

['borough',
 'Tax block',
 'Tax lot',
 'community board',
 'census tract 2010',
 'cb2010',
 'schooldist',
 'council district',
 'postcode',
 'firecomp',
 'policeprct',
 'healtharea',
 'sanitboro',
 'sanitsub',
 'address',
 'zonedist1',
 'zonedist2',
 'zonedist3',
 'zonedist4',
 'overlay1',
 'overlay2',
 'spdist1',
 'spdist2',
 'spdist3',
 'ltdheight',
 'splitzone',
 'bldgclass',
 'landuse',
 'easements',
 'ownertype',
 'ownername',
 'lotarea',
 'bldgarea',
 'comarea',
 'resarea',
 'officearea',
 'retailarea',
 'garagearea',
 'strgearea',
 'factryarea',
 'otherarea',
 'areasource',
 'numbldgs',
 'numfloors',
 'unitsres',
 'unitstotal',
 'lotfront',
 'lotdepth',
 'bldgfront',
 'bldgdepth',
 'ext',
 'proxcode',
 'irrlotcode',
 'lottype',
 'bsmtcode',
 'assessland',
 'assesstot',
 'exempttot',
 'yearbuilt',
 'yearalter1',
 'yearalter2',
 'histdist',
 'landmark',
 'builtfar',
 'residfar',
 'commfar',
 'facilfar',
 'borocode',
 'BBL',
 'condono',
 'tract2010',
 'xcoord',
 'ycoord',
 'latitude',
 'longitude',
 'zonemap',
 'zmcode',
 'sanborn',
 'taxmap',
 'edesignum',
 'appbbl',
 'appdate',
 'plutomapid',
 'version',
 'sanitdistrict',
 'healthcenterdistrict',
 'firm07_flag',
 'pfirm15_flag',
 'dcpedited',
 'notes',
 'bct2020',
 'bctcb2020',
 'geom',
 'basempdate',
 'dcasdate',
 'edesigdate',
 'landmkdate',
 'masdate',
 'polidate',
 'rpaddate',
 'zoningdate']

In [ ]:
keep_cols = [
    "BBL",# unique tax lot ID
    "borough",# borough code
    "Tax block",# tax block number within borough
    "Tax lot",# tax lot number within block
    "postcode",# ZIP code
    "address",# street address
    "landuse",# land use code
    "bldgclass", # building class code
    "lotarea",# area of the tax lot (sq ft)
    "bldgarea",# total building floor area (sq ft)
    "unitsres", # number of residential units
    "unitstotal",# total units (res + others)
    "yearbuilt",# year the main building was built
    "assesstot",# total assessed value of land + building
    "latitude",# latitude of the lot
    "longitude"# longitude of the lot
]

pluto_small = pluto[keep_cols].copy()

,BBL,borough,Tax block,Tax lot,postcode,address,landuse,bldgclass,lotarea,bldgarea,unitsres,unitstotal,yearbuilt,assesstot,latitude,longitude
0,2028690047,BX,2869,47,10453.0,89 WEST TREMONT AVENUE,3.0,D1,"19,146","36,708",80,80,2003.0,915750.0,40.850594,-73.912743
1,1006750039,MN,675,39,10001.0,606 WEST 30TH ST,4.0,D7,"17,281","313,013",277,278,2020.0,49067100.0,40.753382,-74.004717
2,1006980054,MN,698,54,10001.0,530 WEST 27 STREET,5.0,J5,"3,839","22,524",0,6,1920.0,4349700.0,40.750610,-74.003865
3,1006980056,MN,698,56,10001.0,534 WEST 27 STREET,5.0,J5,"1,918","11,583",0,5,1920.0,2505150.0,40.750648,-74.003959
4,1006980028,MN,698,28,10001.0,511 WEST 26 STREET,10.0,G6,"12,225",0,0,0,0.0,1191150.0,40.750129,-74.003136

In [9]:
pluto_small.head(20)

,BBL,borough,Tax block,Tax lot,postcode,address,landuse,bldgclass,lotarea,bldgarea,unitsres,unitstotal,yearbuilt,assesstot,latitude,longitude
0,2028690047,BX,2869,47,10453.0,89 WEST TREMONT AVENUE,3.0,D1,"19,146","36,708",80,80,2003.0,915750.0,40.850594,-73.912743
1,1006750039,MN,675,39,10001.0,606 WEST 30TH ST,4.0,D7,"17,281","313,013",277,278,2020.0,49067100.0,40.753382,-74.004717
2,1006980054,MN,698,54,10001.0,530 WEST 27 STREET,5.0,J5,"3,839","22,524",0,6,1920.0,4349700.0,40.750610,-74.003865
3,1006980056,MN,698,56,10001.0,534 WEST 27 STREET,5.0,J5,"1,918","11,583",0,5,1920.0,2505150.0,40.750648,-74.003959
4,1006980028,MN,698,28,10001.0,511 WEST 26 STREET,10.0,G6,"12,225",0,0,0,0.0,1191150.0,40.750129,-74.003136
5,1006980037,MN,698,37,10001.0,289 10 AVENUE,5.0,K2,"4,937","8,700",0,1,1946.0,2703150.0,40.750088,-74.002826
6,1006980035,MN,698,35,10001.0,285 10 AVENUE,4.0,K4,"3,160","4,344",0,4,1930.0,1097100.0,40.749967,-74.002869
7,1006980047,MN,698,47,10001.0,518 WEST 27 STREET,5.0,H1,"4,937","35,987",0,1,2011.0,6775200.0,40.750420,-74.003418
8,1013060042,MN,1306,42,10022.0,154 EAST 52 STREET,5.0,O4,"15,062","304,640",0,16,1984.0,37647000.0,40.757213,-73.970763
9,1013040026,MN,1304,26,10017.0,145 EAST 49 STREET,5.0,HS,"5,682","37,371",0,3,1916.0,4904550.0,40.755780,-73.972019
10,1013090008,MN,1309,8,10022.0,125 EAST 54 STREET,4.0,D6,"6,761","56,073",64,66,1977.0,11130750.0,40.759480,-73.971083
11,1013090043,MN,1309,43,10022.0,154 EAST 55 STREET,5.0,O5,"2,494","12,245",0,5,1935.0,1798650.0,40.759037,-73.969271
12,1013090044,MN,1309,44,10022.0,152 EAST 55 STREET,5.0,HB,"2,510","18,281",0,1,1985.0,2488950.0,40.759070,-73.969351
13,1013070001,MN,1307,1,10022.0,375 PARK AVENUE,5.0,O4,"59,950","849,014",0,102,1958.0,258259050.0,40.758456,-73.972148
14,1013090023,MN,1309,23,10022.0,641 LEXINGTON AVENUE,5.0,O4,"25,125","426,775",0,40,1964.0,52119000.0,40.758900,-73.969758
15,1013070029,MN,1307,29,10022.0,155 EAST 52 STREET,4.0,D6,"9,050","66,386",110,113,1929.0,9116100.0,40.757531,-73.970340
16,1013100034,MN,1310,34,10022.0,916 3 AVENUE,4.0,C7,"1,875","7,500",8,10,1920.0,1970100.0,40.759227,-73.968636
17,1013100140,MN,1310,140,10022.0,164 EAST 56 STREET,4.0,S3,"1,010","3,819",3,4,1910.0,1815300.0,40.759627,-73.968549
18,1013090032,MN,1309,32,10022.0,900 3 AVENUE,5.0,O4,"16,905","516,710",0,35,1983.0,67488300.0,40.758702,-73.969094
19,1013100047,MN,1310,47,10022.0,148 EAST 56 STREET,5.0,K2,"4,020","12,000",0,1,1910.0,4408200.0,40.759792,-73.969126

In [10]:
#save cleaned file once cleaned (Still need to be cleaned more)
pluto_small.to_csv("../data/processed/pluto_clean.csv", index=False)